<% @posts.each do |post| %>


<div class="card" style="width: 20rem;">
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"><%= post.text %></p>
    <a href="<%= edit_post_path(post) %>" class="btn btn-primary">update</a>
    <%= link_to  "delete", post, method: :delete ,class:"btn btn-danger" %>
    <a href="<%=  new_comment_path (post) %>" class="btn btn-primary">new comment</a>


  </div>
</div>

<% end %>